<% flash.each do |type, message| %>
  <% alert_class = type == 'notice' ? 'alert-info' : 'alert-danger' %>
  <% auto_dismiss = type == 'notice' ? 'data-auto-dismiss="true"' : '' %>
  
  <div class="alert <%= alert_class %> alert-dismissible fade show flash-message" <%= auto_dismiss %> role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
