<% flash.each do |type, message| %>
  <% alert_class = type == 'notice' ? 'alert-info' : 'alert-danger' %>
  <% auto_dismiss = type == 'notice' ? 'data-auto-dismiss="true"' : '' %>

  <div class="alert <%= alert_class %> alert-dismissible fade show flash-message"
       role="alert"
       <%= auto_dismiss %>
       data-controller="flash-auto-dismiss">
    <div class="flash-content-container">
      <div class="flash-message-text">
        <%= message %>
      </div>
    </div>
    <button type="button" class="flash-close-btn" data-bs-dismiss="alert" aria-label="Close">
      &times;
    </button>
  </div>
<% end %>
