<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- Affichage du post -->
      <div class="mb-4">
        <%= render 'posts/post', post: @post %>
      </div>

      <!-- Section des commentaires -->
             <div id="comments-section" class="comments-section">
               <h4 class="mb-3">
                          <i class="bi bi-chat-dots-fill me-2"></i>
                          Commentaires
                        </h4>
      
               <!-- Utilisation du partial de conversation pour les commentaires -->
               <%= render 'conversations/messages', messages: @post.comments, conversation: @post %>
             </div>

      <!-- Bouton retour -->
     <%= render "shared/bottom_navbar" %>
    </div>
  </div>
</div>
