// .alert {
//   position: fixed;
//   bottom: 16px;
//   right: 16px;
//   z-index: 1000;
// }

.alert {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  bottom: 16px;

  /* Version mobile */
  @media (max-width: 768px) {
    bottom: var(--alert-bottom-pos, 16px);
    
    .with-bottom-navbar & {
      bottom: var(--navbar-height, 72px); // 72px = hauteur typique navbar mobile
    }
  }
  
  /* Version desktop */
  @media (min-width: 769px) {
    right: 16px;
    left: auto;
    transform: none;
  }
}

.flash-container {
  padding-bottom: 1rem;
}

.bottom-navbar + #flash-container {
  padding-bottom: 4.5rem; // ajuste la valeur si ta navbar est plus haute
}


.flash-message {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 15px 40px 15px 20px;
  border-radius: 8px;
  max-width: 90%;
  min-width: 250px;
  width: auto;
  z-index: 1000;
  animation: fadein 0.2s ease-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.flash-close-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  padding: 0 5px;
  z-index: 2;
}

.flash-message-text {
  white-space: nowrap;
  // overflow: hidden;
  display: inline-block;
  padding-right: 20px;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  animation: scrollIfNeeded 1s linear 0.3s infinite;
}

// .flash-message-text {
//   white-space: nowrap;
//   animation: scrollIfNeeded 12s linear 0.3s infinite;
//   display: inline-block;
//   padding-right: 20px;
// }