/* Effet de survol pour les cartes de playlist */
.playlist-card {
  transition: background-color 0.3s ease;
  background-color: #2c2c2c; /* Couleur de base sombre */
}

.playlist-card:hover {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.playlist-card:hover:not(.no-hover) {
  background-color: #3a3a3a;
  cursor: pointer;
}

.trash-button {
  transition: none !important; /* Désactive les transitions pour le bouton */
}

.delete-container:hover ~ .card-body {
  background-color: inherit !important; /* Empêche le changement de fond */
}
