<h1 class="m-4">
  Mes Playlists
</h1>

<% if @playlists.any? %>
  <ul class="list-group">
    <% @playlists.each do |playlist| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to playlist.name || "Playlist du #{playlist.generated_at.strftime('%d/%m/%Y %H:%M')}", playlist_path(playlist), class: "text-decoration-none" %>
        <%= button_to "Supprimer", playlist_path(playlist), method: :delete, class: "btn btn-aurora-delete", form: { class: 'd-inline' } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Vous n'avez pas encore de playlist générée.</p>
<% end %>

<%= link_to "Générer une nouvelle playlist", new_playlist_path, class: "btn btn-primary btn-aurora-glow mt-3" %>
